
:root {
    --cor-primaria: #28306E; 
    --cor-secundaria: #9E9E9E;
    --cor-neutral900: #263238;
    --cor-neutral800: #37474F; 
    --cor-neutral700: #455A64;
    --cor-neutral600: #546E7A;
    --cor-neutral500: #607D8B;
    --cor-neutral400: #78909C;
    --cor-neutral300: #90A4AE;
    --cor-neutral200: #B0BEC5;
    --cor-neutral100: #CFD8DC;
    --cor-neutral50: #ECEFF1;
    --cor-semanticsucess: #1BC47E;
    --cor-semanticerro: #FF5252;
    --cor-semanticinfo: #40C3FF;
    --cor-semanticwarning: #FFC107;
    --cor-Bginterface: #FCF7F2;
    --cor-Bgcomponente: #FFFF;
}

/*--------------------Type fontes----------------------*/
@font-face {
    font-family: MontserratRegular;
    src: url(./fontes/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratMedium;
    src: url(./fontes/Montserrat-Medium.ttf);
}

/* ------------------ <H1 ate H6> ----------------*/
.D6{
    font-family: 'MontserratRegular'!important; 
    font-size: 40px !important;
}

.D5{
    font-family: 'MontserratRegular' !important;
    font-size: 48px !important;
}

.D4{
    font-family: 'MontserratRegular' !important;
    font-size: 56px !important;
}

.D3{
    font-family: 'MontserratRegular' !important;
    font-size: 61px !important;
}

.D2{
    font-family: 'MontserratRegular' !important;
    font-size: 72px !important;
}

.D1{
    font-family: 'MontserratRegular' !important;
    font-size: 80px !important;
}

/* ------------------ <H1 ate H6> ----------------*/

.H6{
    font-family: 'MontserratMedium' !important;
    font-size: 16px !important;
}

.H5{
    font-family: 'MontserratMedium' !important;
    font-size: 20px !important;
}

.H4{
    font-family: 'MontserratMedium' !important;
    font-size: 24px !important;
}

.H3{
    font-family: 'MontserratMedium' !important;
    font-size: 28px !important;
}

.H2{
    font-family: 'MontserratMedium' !important;
    font-size: 32px !important;
}

.H1{
    font-family: 'MontserratMedium' !important;
    font-size: 40px !important;
}

/*-------------------- apenas <p> --------------*/

.body12reg{
    font-family: 'MontserratRegular' !important;
    font-size: 12px !important;
}

.body14reg{
    font-family: 'MontserratRegular' !important;
    font-size: 14px !important;
}

.body16reg{
    font-family: 'MontserratRegular' !important;
    font-size: 16px !important;
}

.body20reg{
    font-family: 'MontserratRegular' !important;
    font-size: 20px !important;
}

.body12md{
    font-family: 'MontserratMedium' !important;
    font-size: 12px !important;
}

.body14md{
    font-family: 'MontserratMedium' !important;
    font-size: 14px !important;
}

.body16md{
    font-family: 'MontserratMedium' !important;
    font-size: 16px !important;
}

.body20md{
    font-family: 'MontserratMedium' !important;
    font-size: 20px !important;
}

.bred{
    margin-left: 20px;
    margin-top: 70px;
}

body{
    background-color: var(--cor-Bginterface);
}